@import  "https://fonts.googleapis.com/css?family=Fredoka+One";

/*
Welcome to Custom CSS!

CSS (Cascading Style Sheets) is a kind of code that tells the browser how
to render a web page. You may delete these comments and get started with
your customizations.

By default, your stylesheet will be loaded after the theme stylesheets,
which means that your rules can take precedence and override the theme CSS
rules. Just write here what you want to change, you don't need to copy all
your theme's stylesheet content.
*/
.promotionBox {
	width: 100%;
	height: 360px;
	background: #fff;
  border:5px solid #0F9D58;
	border-radius: 25px;
	padding: 20px;
}

.codewrapper {
	background: #f5f5f5;
	margin: 0 0 20px 5px;
	padding: 7px 7px 7px 12px;
	border-left: 3px solid #ff4d4d;
	font-family: monospace, serif;
	font-size: 13px;
}

.codewrapper2 {
	background: #f5f5f5;
	margin: 0 0 20px 5px;
	padding: 7px 7px 7px 12px;
	border-left: 3px solid #ff4d4d;
	font-family: monospace, serif;
	font-size: 20px;
}

.codewrapper3 {
	background: #f5f5f5;
	margin: 0 0 30px 5px;
	padding: 10px 15px 10px 15px;
	border: 2px solid #dcdcdc;
	font-size: 24px;
	font-family: inconsolata, sans-serif;
	word-wrap: break-word;
}

.codewrapper4 {
	background: #f5f5f5;
	margin: 0 0 30px 5px;
	padding: 10px 15px 10px 15px;
	border: 2px solid #dcdcdc;
	font-size: 18px;
	font-family: inconsolata, sans-serif;
	word-wrap: break-word;
}

.codewrapper5 {
	background: #f5f5f5;
	margin: 0 0 5px 5px;
	padding: 2px;
	border: 2px solid #dcdcdc;
	font-family: inconsolata, sans-serif;
	word-wrap: break-word;
}

.codewrapperNoBorder {
	background: #f5f5f5;
	margin: 0 0 30px 5px;
	padding: 10px 15px 10px 15px;
	font-size: 24px;
}

.container {
	margin-right: 40px;
	margin-bottom: 40px;
	float: left;
}

.logo_grid {
	clear: both;
}


/* styles for flash notice at top of posts */
.notice {
	font: 14px/18px helvetica, arial, verdana;
	letter-spacing: .1em;
	width: 100%;
	margin: 20px auto;
	text-align: center;
	padding: 10px;
	color: white;
	text-decoration: none !important;
	border-radius: .5rem;
	background-color: #49bb5b;
	border: 1px solid #2B823A;
}

.notice a:hover {
	color: white;
	text-decoration: underline;
}

.noticeYellow {
	font: 20px/32px verdana;
	letter-spacing: .05em;
	width: 100%;
	margin: 20px auto;
	text-align: center;
	padding: 10px;
	text-decoration: none !important;
	border-radius: .25rem;
	background-color: #FEE2B7;
	border: 2px solid #cbb492;
}

.noticeYellow a:hover {
	text-decoration: underline;
}

.noticeYellowLeft {
	font: 20px/32px verdana;
	letter-spacing: .05em;
	width: 100%;
	margin: 20px auto;
	text-align: left;
	padding: 10px 10px 10px 10px;
	text-decoration: none !important;
	background-color: #FEE2B7;
	border: 2px solid #cbb492;
}

.noticeYellowLeft a:hover {
	text-decoration: underline;
}

.noticeYellowCenter {
	font: 20px/24px verdana;
	letter-spacing: .05em;
	width: 100%;
	margin: 10px;
	text-align: center;
	padding: 20px;
	text-decoration: none !important;
	border-radius: 2.5rem;
	background-color: #FEE2B7;
	border: 2px solid #cbb492;
}

.noticeYellowCenter a:hover {
	text-decoration: underline;
}

#mch6 {
	margin: 0;
	padding: 10px 0;
}

#mc_embed_signup .button {
	background-color: #24b36b !important;
}

#mce-EMAIL {
	text-align: left;
}

table#table_books {
	width: 100%;
}

table#table_books, td, tr {
	border: none;
}

table#table_data {
	width: 100%;
}

table#table_data, td, tr {
	border: 1px solid #d3d3d3;
}

#table_data td, tr {
	padding: 8px;
}

.text-red {
	color: #F15854;
}

.note-link {
	font-size: 18px;
	line-height: 24px;
	position: relative;
	padding: 14px 20px 24px 20px;
	margin: 32px 0;
	background-color: rgba(255,202,0,0.05);
	border: solid 2px #ffca00;
	border-radius: 12px;
	clear: both;
}

.note-link-title {
	font-size: 18px;
	line-height: 24px;
	color: #868F93;
	padding-bottom: 8px;
}

.note-link-a {
    display: block;
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #000;
}


body {font-family:'Open Sans', Helvetica, arial, sans-serif}

.related-articles {
	display: block;
	clear:both;
	object-fit: contain;
}

.codeLinePadding {
	line-height: 2em !important;
	background-color: #e0e0e0 !important;
	padding: 10px;
}

/* custom styles for the custom number format post */
#customNumberFormat {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customNumberFormat td, #customNumberFormat th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#customNumberFormat tr:nth-child(even){background-color: #f2f2f2;}

#customNumberFormat tr:hover {background-color: #ddd;}

#customNumberFormat th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #0F9E59;
  color: white;
}

pre{                     
	background:#f5f5f5;
	border:1px #eee solid;
	border-left:6px #eee solid;
	font-family:Consolas, courier;   
	font-size:0.9em;        
	white-space:pre;
	overflow-x:auto;
}

.exerciseHighlight {
	padding: 5px 5px 5px 10px;
	margin-bottom: 1em;
	background-color: #1A72E8;
	font-weight: bold;
	color: white;
	text-align: left;
	border-left: 15px #0d3974 solid;
}

.exerciseBox {
	border: 2px #0d3974 dashed;
	padding: 15px 10px 5px 10px;
	margin: 35px 0px 30px 0px;
}

.exerciseHighlightSheets {
	padding: 5px 5px 5px 10px;
	margin-bottom: 1em;
	background-color: #54a06b;
	font-weight: bold;
	color: white;
	text-align: left;
	border-left: 15px #2A8947 solid;
}

.exerciseBoxSheets {
	border: 2px #2A8947 dashed;
	padding: 15px 10px 5px 10px;
	margin: 35px 0px 30px 0px;
}